.accueil-manager {
    position: relative;
}

.demands-list-container {
    padding: 30px 50px;
}

.demands-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 30px 0;
}

.demand-manager {
    width: 90%;
    margin: auto;
}

.welcome-container {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.welcome-container .home-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: brightness(0.5) blur(2px);
}

.welcome-container .welcome-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 30px 20px;
    /* color: white; */
}

.welcome-container p {
    width: 100%;
    text-align: center;
}

.welcome-text .welcoming {
    font-size: 52px;
    font-weight: 700;
}

.welcome-container p:nth-child(2) {
    font-size: 20px;
}

.welcome-container button {
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 10px 40px;
    background-color: var(--icons-color);
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.goToDemandList {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    border: 2px solid var(--icons-color);
    border-radius: 15px;
    gap: 20px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 500;
    font-size: 20px;
    margin: 30px 0;
}

.goToDemandList:hover {
    color: var(--icons-color);
    background-color: #edeff7;
}