.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
    border-bottom: 1px solid #ccc;
  }
  
  .notification-icon, .profile-picture {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: var(--icons-color);
  }

  .notification-icon {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 0.3s;
  }

  .notification-badge {
    position: absolute;
    top: -1px;
    right: -1px;
    font-size: 12px;
    background-color: #ff382a;
    color: white;
    font-weight: 500;
    border-radius: 45%;
    padding: 2px 5px;
    z-index: 1;
}

  .notification-profile {
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: all 0.3s;
  }

  .profile-picture img {
    width: 70px;
    height: 70px;
  }

  .profile-picture:hover {
    background-color: rgba(80, 96, 218, 0.1);
    backdrop-filter: blur(5px);
  }
  
  .search-bar input {
    width: 500px;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    transition: all 0.3s;
    background-color: transparent;
  }

.close-profile-menu {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: transparent;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    transition: all 0.3s;
}

.close-profile-menu:hover, .notification-icon:hover, .menu-icon:hover {
  background-color: rgba(80, 96, 218, 0.1);
  backdrop-filter: blur(5px);
}

  .link-title {
    margin-left: 10px;
  }
  
  .profile-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    border-left: 1px solid #ccc;
    transition: all 0.3s;
    overflow-x: hidden;
    padding-top: 60px;
    overflow-y: auto;
  }

  .profile-overlay::-webkit-scrollbar {
    display: none;
  }

  .profile-overlay .user-profile-picture{
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
  
  .profile-info {
    text-align: center;
  }
  
  .profile-info button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .logout-btn {
    border: 3px solid var(--icons-color);
    border-radius: 20px;
    padding: 5px 20px;
    margin: 30px 0;
    background-color: transparent;
    font-weight: 500;
    color: var(--icons-color);
    transition: all 0.3s;
  }

  .logout-btn:hover {
    background-color: var(--icons-color);
    color: white;
    outline: none;
  }

  .notification-overlay {
    width: 450px;
    max-height: 500px;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    top: 85%;
    left: -250%;
    font-size: 14px;
  }

  .notification-overlay .notifications-title {
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
    color: var(--icons-color);
    border-bottom: 1px solid #c0c8d5;
  }

  .notification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    width: 100%;
    text-align: left;
    color: rgb(49, 49, 49);
    border-top: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.3s;
  }

  .notification .notification-data {
    display: flex;
    flex-direction: column;
  }

  .notification-data .notification-message {
    font-weight: 500;
  }

  .notification-data .notification-date {
    font-size: 12px;
  }

  .notification .unread-icon {
    color: var(--icons-color);
    font-size: 10px;
  }

  .no-notification {
    margin: 20px auto;
  }